.wd-search-block {
    border-width: 0px;
    border-style: solid;
    background-color: darkgrey;
    border-radius: 30px;
    position: relative;
    width: calc(100% - 80px);
    margin-left: 16px;
}

.wd-search-icon {
    margin-top: 2px;
    margin-left: 3px;
}

.wd-search-field {
    margin-left: 2px;
    position: relative;
    color: white;
    background-color: darkgrey;
    border: none;
    opacity: 1;
}

.wd-gear{
    float: right;
    position: relative;
    margin-right:12px;
    bottom: 33px;
    text-decoration: none;
    font-size: 28px;
    color: rgb(29,161,242);
}

.wd-navigation-selected-border {
    border-bottom:4px solid rgb(29,161,242);
    height: 32px;
}

.wd-navigation-border {
    border-bottom: rgb(47, 51, 54) solid 3px;
    height: 35px;
}

.wd-border-leftoff{
    margin-left: 16px;
}

.wd-selected-text {
    text-decoration: none;
    color: rgb(29,161,242);
    font-size: 15px;
    padding: 0px 16px 0px 0px;
}

.wd-navigation-text {
    text-decoration: none;
    color: rgb(110,118,125);
    font-size: 15px;
    padding: 0px 16px 0px;
}

.wd-navigation-float-left {
    position: relative;
    float: left;
}

.wd-post-topic {
    color: rgb(110,118,125);
    font-size: 13px;
}

.wd-post-title {
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: bold;
}

.wd-float-right {
    float: right;
    margin-right: 16px;
}

.wd-post-setting {
    color: white;
    font-size: 10px;
    margin-right: 16px;
    float: right;
    margin-bottom: 4px;
}

.wd-post-subsetting {
    color: rgb(110,118,125);
    font-size: 10px;
    margin-right: 16px;
    float: right;
}

.wd-float-done{
    clear: both;
}

.wd-icon-image {
    width: 20px;
    height: 20px;
    border-radius: 50%

}

.wd-post-image {
    border-radius: 15px;
    width: 100px;
    height: 100px;
}

.wd-author-post-title {
    font-weight: bold;
    color: white;
    font-size: 13px;
}
