body{
    /*font-family: "Arial";*/
    background-color: black;
    color: white;
}

.wd-border-margin {
    border-color: rgb(47, 51, 54);
    border-style: solid;
    border-width: 1px;
    padding-top: 12px;
    margin-left: 16px;
    margin-right: 16px;
    padding-bottom: 12px;
}

.wd-left-offset {
    margin-left: 16px;
}

.wd-top-offset {
    margin-top: 12px;
}


.wd-border {
    border-color: rgb(47, 51, 54);
}

.wd-float-done {
    clear: both;
}


.wd-float-content-right {
    float: right;
}

.wd-float-done{
    clear: both;
}


